<div class="container-fluid">
  <h2>
   Automotive Locksmith
  <small>
    Serving all of Southern Utah
  </small>
  </h2>
  <%= render "pages/layouts/automotive_locked_out" %>

  <div class="automotive-header">

    <div class="automotive-header-body">

      <hr>

      <p>
        Have you locked your keys in your car? Have you lost your keys? No need to worry, put a smile on your face. At Jensen Locksmithing we help people out with automotive lock and/or key problems. Whether it’s unlocking your car or replacing lost or broken keys and remotes, we've got you covered at an affordable rate.
      </p>

       <p>
          We want to help if anything like this occurs. With technology on the rise today, automotive technology is increasing as well.
       </p>
     </div>
  </div>

  <div class="row">
    <div class="col-md-3">
       <%= image_tag("kerry.jpg", class: "image-responsive image-automotive center-block") %>
    </div>
    <div class="col-md-9">
      <div class="page-header">
      </div>
      <div class="panel panel-default">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5>Automotive Locksmith Services</h5>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-text">
            <p>
              We stay up to date with this automotive technology, and we can help you out with our state of the art equipment. Avoid towing costs and high dealership prices.
            </p>
              <ul>
                <li>Unlock your vehicle if you locked your keys in it</li>
                <li>Create backup keys (highly recommended)</li>
                <li>Program keys to your vehicle (if needed)</li>
                <li>Cut new keys,  if yours are lost or damaged</li>
                <li>Program car remotes</li>
                <li>Program proximity remotes</li>
                <li>Cut high security car keys</li>
                <li>Fix old or broken ignitions</li>
              </ul>

              Whatever you need to keep your business safe and secure, we’ll take care of you anytime you need.
            </div>
        </div>

        <div class="panel-footer">
          <div class="panel-text">
            Call us now at 435-319-0361, and we’ll get to you quickly!
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-4">
      <%= image_tag("automotive/general1.jpg", class: "image-responsive automotive-bottom-image-larger") %>
    </div>
  </div>

</div>
