<!-- Locked Out? Lost Your Keys? -->
<!-- No Need to Worry.. We Can Make it all Better! Call us at 435-319-0361 -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <%= image_tag("kerry.jpg", class: "image-responsive image-automotive center-block") %>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>
           Automotive Locksmith
          <small>
             Services
          </small>
        </h1>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5>Locksmith Services</h5>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-text">
            <p>
              Have you locked your keys in your car? Have you lost your keys? No need to worry, put a smile on your face. At Jensen Locksmithing we help people out with automotive lock and/or key problems. Whether it’s unlocking your car or replacing lost or broken keys and remotes, we've got you covered at an affordable rate.
            </p>

            <p>
              We want to help if anything like this occurs. With technology on the rise today, automotive technology is increasing as well.
            </p>
            <p>
              We stay up to date with this automotive technology, and we can help you out with our state of the art equipment. Avoid towing costs and high dealership prices.
            </p>
              <ul>
                <li>Unlock your vehicle if you locked your keys in it</li>
                <li>Create backup keys (highly recommended)</li>
                <li>Program keys to your vehicle (if needed)</li>
                <li>Cut new keys,  if yours are lost or damaged</li>
                <li>Program car remotes</li>
                <li>Program proximity remotes</li>
                <li>Cut high security car keys</li>
                <li>Fix old or broken ignitions</li>
              </ul>

              Whatever you need to keep you safe and secure in your home, we’ll take care of you anytime you need.
            </div>
        </div>

        <div class="panel-footer">
          <div class="panel-text">
            Call us now at 435-319-0361, and we’ll get to you quickly!
          </div>
        </div>
      </div>

      <div class="information">
        <a href="tel:435.319.0361">
          <button type="button" class="btn btn-default btn-lg" >
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Now
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
