<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 information">
      <a href="tel:435.319.0361">
        <button type="button" class="btn btn-default btn-lg" >
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Now
        </button>
      </a>
      <h3>We're Available 24/7</h2>
      <h1>435-319-0361</h1>
    </div>

    <div class="col-md-4">
      <%= image_tag("team.jpg", class: "image-responsive team-image center-block") %>
    </div>

    <div class="col-md-4">
      <div class="main-text">
        Jensen Locksmithing is a licensed and bonded locksmith company dedicated to serving St. George, Washington, Hurricane, La Verkin, Springdale, Zion National Park and all other surrounding areas in Washington County Utah. We also service Colorado City, Fredonia, Kanab, and other surrounding areas. Located at the center of Washington County, we can get to you wherever you are in 30 minutes or less. Including Springdale and Zion National Park.

        We specialize in Residential, Automotive, and Commercial locksmith services including lockouts, re-keys, key replacement, keyless entries, and all locksmith services.
      </div>
    </div>
  </div>
  <hr>

  <div class="row service-types">
    <div class="col-md-4">
      <div class="jumbotron column-1">
        <h1>Residential</h1>
        <p>
          At Jensen Locksmithing we understand that everyone needs and should feel safe and secure in their own home. We can help you make that happen with our expert and affordable services.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="jumbotron column-2">
        <h1>Auto</h1>
        <p>
          Have you locked your keys in your car? Have you lost your keys? No need to worry, put a smile on your face. At Jensen Locksmithing we help people out with any automotive lock and/or key problems they may run into.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="jumbotron column-3">
        <h1>Commercial</h1>
        <p>
          At Jensen Locksmithing we know how important it is to keep your business safe and secure. With crime rates rising today, it is more important than ever to keep those who don’t belong inside your commercial property to stay out.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>

  </div>
</div>
