<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Call Us: 435-319-0361</h1>


      <a href="tel:435.319.0361">
      <button type="button" class="btn btn-default btn-lg" >
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Now
      </button>
      </a>
    </div>

    <div class="col-md-4">
      We're Available 24/7
      435-619-0361
      <i class="fa fa-phone-square"></i>
    </div>

    <div class="col-md-4">
      <%= image_tag("team.jpg") %>
      <div>
        Jensen Locksmithing is a licensed and bonded locksmith company dedicated to serving St. George, Washington, Hurricane, La Verkin, Springdale, Zion National Park and all other surrounding areas in Washington County Utah. We also service Colorado City, Fredonia, Kanab, and other surrounding areas. Located at the center of Washington County, we can get to you wherever you are in 30 minutes or less. Including Springdale and Zion National Park.

        We specialize in Residential, Automotive, and Commercial locksmith services including lockouts, re-keys, key replacement, keyless entries, and all locksmith services.
      </div>
    </div>
  </div>
</div>
