<div class="column1">
  <h1>Call Us: 435-319-0361</h1>

  <a class="btn btn-social-icon btn-twitter">
    <span class="fa fa-twitter"></span>
  </a>

  <a class="btn btn-social-icon btn-google">
    <span class="fa fa-google"></span>
  </a>

  <a class="btn btn-social-icon btn-facebook">
    <span class="fa fa-facebook"></span>
  </a>

  <a class="btn btn-social-icon btn-youtube">
    <span class="fa fa-youtube"></span>
  </a>

  <a href="tel:435.319.0361">
  <button type="button" class="btn btn-default btn-lg" >
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Now
  </button>
  </a>
</div>

<div class="column2">
  We're Available 24/7
  435-619-0361
  <i class="fa fa-phone-square"></i>
</div>

<div class="column3">

</div>
