<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <%= image_tag("phil.jpg", class: "image-responsive image-residential center-block") %>
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>
           Residential Locksmith
          <small>
             Services
          </small>
        </h1>
      </div>
      <div class="panel panel-default">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5>Locksmith Services</h5>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-text">
            <p >At Jensen Locksmithing we understand that everyone should feel safe and secure in their own home. We can help you make that happen with our expert and affordable services such as:</p>
              <ul>
                <li>Entire home or individual lock re-keys</li>
                <li>Duplicate keys</li>
                <li>Consolidate home locks so that one key will work for every lock</li>
                <li>Fix broken locks</li>
                <li>Upgrade locks</li>
                <li>Install deadbolts</li>
                <li>Install and program touchpad deadbolts</li>
                <li>Install cabinet locks</li>
                <li>Get you into your home or RV if you ever get locked out</li>
              </ul>

              Whatever you need to keep you safe and secure in your home, we’ll take care of you anytime you need.
            </div>
        </div>

        <div class="panel-footer">
          <div class="panel-text">
            Call us now at 435-319-0361, and we’ll give you our very affordable rate.
          </div>
        </div>
      </div>

      <div class="information">
        <a href="tel:435.319.0361">
          <button type="button" class="btn btn-default btn-lg" >
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Now
          </button>
        </a>
      </div>

    </div>
  </div>
</div>
