<!--  -->

<div class="row">
  <div class="col-md-offset-1 col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <%= image_tag("crying.jpg", class: "image-responsive locked-out center-block") %>
    </a>
    <div class="caption">
      <h3>Locked Out? Lost Your Keys?</h3>
      <p></p>
    </div>
  </div>

  <div class="col-md-offset-2 col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <%= image_tag("happy.jpg", class: "image-responsive locked-out center-block") %>
    </a>
    <div class="caption">
      <h3>No Need To Worry..</h3>
      <p>We Can Make it all Better! Call us at  <a href="tel:435.319.0361">435-319-0361</a></p>
    </div>
  </div>
</div>
