// remove all the *= require_self and *= require_tree . statements from the sass file. Instead, use @import to import Sass files.
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";
@import "bootstrap-and-overrides";
@import "residential";
@import "commercial";

body{
  background-color: #F7F7F7;
}

// Header

.call-us {
  color: #F7F7F7 !important;
}

.locksmith-logo {
  padding: 0;
  margin: 0;
}

// Containers

.app-container{
  max-width: 1280px;
  margin: 0 auto;
}

.page-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 979px) {
  .page-container {
    padding-top: 0px;
  }
}


// Main Page

.main-text {
  text-align: justify;
  // padding-top: 15px;
}

@media (max-width: 979px) {
  .main-text {
    padding-top: 15px;
  }
}

.team-image {
  width: 90%;
  height: 90%;
  border-radius: 6px;
}

.information {
  text-align: center;
}


.footer-bottom {
  background: #25292C;
  color: #888;
  line-height: 30px;
  padding: 15px;
}

.footer-call {
  a {
    color: #F7F7F7
  }
}


.service-types {
  text-align: center;
  color: #F7F7F7;

  .column-1{
    background-color: #0d779e;
  }

  .column-2{
    background-color: #2690BB;
  }

  .column-3{
    background-color: #3fa9d0;
  }

  .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

    h1{
      font-size: 30px;
    }

// Jumbotron buttons

  .jumbotron {
    min-height: 650px;
    -webkit-transition: all 300ms ease-in;

    .btn-primary{
      -webkit-transition: all 300ms ease-in;
    }

  }

  .jumbotron:hover {
    background-color: #87c062;

    .btn-primary {
      background-color: #4A732F;

      }
    }
  }

  .home-button-text{
    min-height: 260px;
    margin-top: 20px;
  }

  .home-button-image{
    width: 280px;
    height: 158px;
    border-radius: 10px;
  }


