.image-automotive{
  width: 254px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 3px;
}

@media (max-width: 979px) {
  .image-automotive {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 500px) {
  .automotive-lower-text p{
    font-size: 14px !important;
  }
}
.automotive-lower-text{
  // min-height: 780px;
}

.locked-out{
  border-radius: 6px;
}


@media (max-width: 979px) {
  .locked-out {
    width: 70%;
    height: 50%;
  }
}

.automotive-header{
  margin-bottom: 30px;
}

.automotive-header-body{
  text-align: justify;
}

.call-now-button{
  margin-bottom: 10px;
}

.automotive-bottom-image{
  width: 280px;
  height: 158px;
  border-radius: 10px;
}
