.image-residential{
  height: 280px;
  width: 235px;
  border-radius: 50%;
}

// .panel{
//   .panel-primary{
//     .panel-heading{
//       background-color: #B3E1F0;
//     }
//   }
// }

.panel-text{
  font-size:20px;
}
